{% extends 'base.html.twig' %}

{% block title %} Welcome Home {% endblock%}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div style="width: 400px; height: 400px; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; padding: 15px;">
        <form method="post" action="{{ path('login_admin') }}">
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-default">Se connecter</button>
            <input type="hidden" name="type" value="crw" />
        </form>
    </div>
{% endblock %}