{% extends 'base.html.twig' %}

{% block title %} Welcome Home {% endblock%}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="main_container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        <a href="show_requests">Demmandes en ligne</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="..." alt="..." height="128" width="128">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ admin.nom ~" "~ admin.prenom }}</h4>
                                Some description about Mr Jebbouri Abid hwo created this web page and also this web site
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <ul class="nav nav-tabs nav-justified">
                            <li role="presentation" class="active first-tab-url"><a href="#">Profil</a></li>
                            <li role="presentation" class="second-tab-url"><a href="#">Demande</a></li>
                            <li role="presentation" class="third-tab-url"><a href="#">Mes demandes</a></li>
                        </ul>

                        <div class="container-fluid first-tab">
                            <form action="{{ path('edit_admin') }}" method="post">

                                <div class="form-group">
                                    <h2>Nom</h2>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nom" name="nom" value="{{ admin.nom }}">
                                </div>
                                <div class="form-group">
                                    <h2>Prénom</h2>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Prénom" name="prenom" value="{{ admin.prenom }}">
                                </div>
                                <div class="form-group">
                                    <h2>Email</h2>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email" value="{{ admin.email }}">
                                </div>
                                <div class="form-group">
                                    <h2>Nouveau mot de passe</h2>
                                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Mot de passe" name="n_password">
                                </div>
                                <div class="form-group">
                                    <h2>Confirmation de mot de passe</h2>
                                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Mot de passe" name="c_password" >
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <h2>Mot de passe actuel</h2>
                                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Mot de passe" name="o_password">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Modifier profil</button>
                                </div>
                            </form>
                        </div>
                        <div class="container-fluid second-tab" style="display: none;">
                            <form method="post" action="{{ path("create_category") }}">
                                <div class="form-group">
                                    <h2>Nom de la catégorie</h2>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nom" name="nom">
                                </div>
                                <div class="form-group">
                                    <h2>Mot de passe actuel</h2>
                                    <textarea name="description" placeholder="Descriptio" rows="3" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Ajouter Catégorie</button>
                                </div>
                            </form>
                            <hr/>
                            {% if result is defined %}
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nom</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for r in result %}
                                        <tr>
                                            <td>{{ r.id }}</td>
                                            <td>{{ r.nom }}</td>
                                            <td>{{ r.description }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}