{% extends 'base.html.twig' %}

{% block title %} Welcome Home {% endblock%}

{% block stylesheets %}

    <link rel='stylesheet prefetch' href="{{ asset('bundles/idv/css/scroll/style2.css') }}">
{% endblock %}

{% block body %}
    <div id="container">
        <div id="slideshow" class="cycle-slideshow"
             data-cycle-fx = "fade"
             data-cycle-speed = "600"
             data-cycle-timeout = "3000"
             data-cycle-pager = "#pager"

             data-cycle-next = "#next"
             data-cycle-prev = "#prev"
             data-cycle-manual-fx = "scrollHorz"
             data-cycle-manual-speed = "400"
             data-cycle-pager-fx = "fade">
            <img src="{{ asset('bundles/idv/images/1.jpeg') }}" alt="">
            <img src="{{ asset('bundles/idv/images/2.jpg') }}" alt="">
            <img src="{{ asset('bundles/idv/images/3.jpg') }}" alt="">
            <img src="{{ asset('bundles/idv/images/4.jpg') }}" alt="">
        </div>
        <div id="pager"></div>
        <img id="prev" src="{{ asset('bundles/idv/images/p.svg') }}"/>
        <img id="next" src="{{ asset('bundles/idv/images/n.svg') }}"/>
    </div>
{% endblock %}

{% block javascripts %}
    <script src='http://malsup.github.io/min/jquery.cycle2.min.js'></script>
{% endblock %}