{% extends 'base.html.twig' %}

{% block title %} Welcome Home {% endblock%}

{% block stylesheets %}
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <link rel='stylesheet prefetch' href="{{ asset('bundles/idv/css/scroll/style.css') }}">
{% endblock %}

{% block body %}
    <div class="header">
        <h1>HEADER</h1>
    </div>

    <nav>
        <ul>
            <li><a href="#section1">section 1</a></li>
            <li><a href="#section2">section 2</a></li>
            <li><a href="#section3">section 3</a></li>
            <li><a href="#section4">section 4</a></li>
        </ul>
    </nav>

    <section id="section1">section 1</section>
    <section id="section2">section 2</section>
    <section id="section3">section 3</section>
    <section id="section4">section 4</section>

    <footer>FOOTER</footer>
{% endblock %}

{% block javascripts %}
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src="{{ asset('bundles/idv/js/scroll/index.js') }}"></script>
{% endblock %}