{% extends 'base.html.twig' %}

{% block title %} Welcome Home {% endblock%}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/scroll/scrollmenu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/scroll/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/scroll/demo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/bootstrap.css') }}">
    <link rel='stylesheet prefetch' href="{{ asset('bundles/idv/css/scroll/style2.css') }}">
{% endblock %}

{% block body %}

    <header id="header" class="cf">
        <div id="logoText">
            IDV
        </div>
    </header>
    <div id="scrollWrapper">
        <div id="sectionWrapper">
            <section class="section" id="section1">

                <div id="slideshow" class="cycle-slideshow"
                     data-cycle-fx = "fade"
                     data-cycle-speed = "600"
                     data-cycle-timeout = "3000"
                     data-cycle-pager = "#pager"

                     data-cycle-next = "#next"
                     data-cycle-prev = "#prev"
                     data-cycle-manual-fx = "scrollHorz"
                     data-cycle-manual-speed = "400"
                     data-cycle-pager-fx = "fade">
                    <!--<img src="{{ asset('bundles/idv/images/i5.jpg') }}" alt="">-->
                    <img src="{{ asset('bundles/idv/images/i1.jpg') }}" alt="">
                    <img src="{{ asset('bundles/idv/images/i2.jpg') }}" alt="">
                    <img src="{{ asset('bundles/idv/images/i3.jpg') }}" alt="">
                    <!--<img src="{{ asset('bundles/idv/images/4.jpg') }}" alt="">-->
                </div>
                <div id="pager"></div>
                <img id="prev" src="{{ asset('bundles/idv/images/p.svg') }}"/>
                <img id="next" src="{{ asset('bundles/idv/images/n.svg') }}"/>
            </section>
            <section class="section" id="section3">
                <div class="row" style="margin-top: 140px;">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <!--<img src="" alt="..." width="200" height="200">-->
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                                    Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <!--<img src="" alt="..." width="200" height="200">-->
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                                    Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <!--<img src="" alt="..." width="200" height="200">-->
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>
                                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                                    Nullam id dolor id nibh ultricies vehicula ut id elit.
                                </p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section" id="section2">
                <div class="content form_content">
                    <h3>Sign up</h3>
                    <form class="form-horizontal" method="post" href="/signup">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Nom</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Nom">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Prénom</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Prénom">
                            </div>
                        </div><div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Mot de passe</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Confirmer mot de passe</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section class="section" id="section4">
                <div class="content">Page4</div>
            </section>
            <!--
            <section class="section" id="section5">
                <div class="content">Page5</div>
            </section>-->
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <!--<script src="{{ asset('bundles/idv/js/scroll/jquery.js') }}"></script>-->
    <script src="{{ asset('bundles/idv/js/scroll/scrollmenu.js') }}"></script>
    <script src='http://malsup.github.io/min/jquery.cycle2.min.js'></script>

    <script>
        //base setup
        var setupOption = {
            template: '<div class="menu-wrap"><div class="menu"><%= label %></div></div>',
            menuType : 'horizontal-menu',
            appendTo : '#header',
            anchorSetup: [
                {
                    backgroundColor: "#ffffff",
                    label: "Accueil"
                },
                {
                    backgroundColor: "#1ccdaa",//#1ccdaa
                    label: "Section 2"
                },
                {
                    backgroundColor: "#22cfc6",
                    label: "Section 3"
                },
                {
                    backgroundColor: "#8794a1",//#4BBFC3
                    label: "Se connecter"
                },
                /*{
                    backgroundColor: "#36d278",
                    label: "Se connecter"
                }*/]
        };

        var scrollMenu = ScrollMenu('#scrollWrapper', setupOption);
    </script>
{% endblock %}