{% extends 'base.html.twig' %}

{% block title %} Welcome Home {% endblock%}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/scroll/scrollmenu.css') }}">
	<!--<link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/scroll/base.css') }}">-->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/scroll/demo.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/main.css') }}">
{% endblock %}

{% block body %}
	<section class="section" id="section1">
		<div id="menu">
			<a href="http://idv.parisdescartes.fr" target="_blank"><img id="logo" src="{{ asset('bundles/idv/images/logoIDV.png') }}" width="120"></a>
			<a id="cnx" href="{{ path("sign_in") }}" class="btn"> Connexion </a>
			<a id="help" href="{{ asset('bundles/idv/pdf/Manuel-Utilisation-CrowdIDV-V2.pdf') }}" download  >Help !</a>
		</div>
		<div class="signform">
			<!--
			<p style="margin-top: 10px;">Inscrivez vous pour contribuer à l'évaluation des analyses</p>

			<form method="post" action="{{ path("sign_in") }}" class="form-horizontal">
				<div class="form-group">
					<div class="form-group">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-default">J'ai déjà un compte</button>
						</div>
					</div>
				</div>
			</form>
			-->
			{#</a>#}
			<h4>Inscription :</h4>
			<form class="form-horizontal" id="form" method="post" action="{{ path('sign_up') }}" enctype="multipart/form-data">
				<div class="form-group">
					<div class="col-sm-10">
						<input type="text" class="form-control"  placeholder="Nom" name="nom" required="true">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
						<input type="text" class="form-control"  placeholder="Prénom" name="prenom" required="true">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
						<input type="email" class="form-control"  placeholder="Email" name="email" required="true">
					</div>
				</div>

				{#<div class="form-group">#}
					{#<div class="col-sm-10">#}
						{#<input type="text" class="form-control"  placeholder="Nom d'utilisateur" name="username">#}
					{#</div>#}
				{#</div>#}
				<div class="form-group">
					<div class="col-sm-10">
						<input type="password" class="form-control"  placeholder="Mot de Passe" name="password" required="true">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
						<select name="type" class="form-control">
							<option value="requester">Imageur</option>
							<option value="crowder">Annoteur</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
						<input type="password" class="form-control" id="inputPassword3" placeholder="Code*" name="idv" required="true">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">

						<label>
							<input type="checkbox" class="" id="conditions" name="conditions" required="true">
							J'accepte les conditions
						</label>
					</div>
				</div>
				<!--
				<div class="form-group">
					<div class="col-sm-10">
						<input type="file" name="profile" class="form-control">
					</div>
				</div>
				-->
				<div class="form-group">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-default">Créer un compte</button>
					</div>
				</div>
			</form>

		</div>

	</section>
	<!--
	<section class="section" id="section2">
		<div class="content">Section 2</div>
	</section>
	<section class="section" id="section3">
		<div class="content">Section 3</div>
	</section>
	<section class="section" id="section4">
		<div class="content">Section 4</div>
	</section>
	<section class="section" id="section5">
		<div class="content">Section 5</div>
	</section>-->
	<div style="position: absolute; top: 25%; left: 31%; opacity: 0.8; padding: 15px 25px">
		<h2>CrowdIDV</h2>
		<h3>Plateforme d'enrichissement</h3>
		<h3>d'imageries biomédicales</h3>
	</div>
{% endblock %}

{% block javascripts %}

	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>-->
	<script src="{{ asset('bundles/idv/js/scroll/jquery.js') }}"></script>
	<script src="{{ asset('bundles/idv/js/scroll/scrollmenu.js') }}"></script>
	<!--<script src="{{ asset("bundles/idv/js/homePageAnimation.js") }}"></script>-->
	<script>
        $("form").submit(function(e) {

            var ref = $(this).find("[required]");

            $(ref).each(function(){
                if ( $(this).val() == '' )
                {
                    alert("Le champ obligatoire ne doit pas être vide.");

                    $(this).focus();

                    e.preventDefault();
                    return false;
                }
            });  return true;
        });
	</script>
	<script>
		//base setup
		/*
		var setupOption = {
			template: '<div class="menu-wrap"><div class="menu"><%= label %></div></div>',
			menuType: 'horizontal',
			className : 'scrollbar-visible',
			scrollbarVisible : true,
			scrollAnchorSpacing : 0,
			anchorSetup: [
				{
					backgroundColor: "#dc767d",
					label: "Section 1"
				},
				{
					backgroundColor: "#36d278",
					label: "Section 2"
				},
				{
					backgroundColor: "#22cfc6",
					label: "Section 3"
				},
				{
					backgroundColor: "#8794a1",
					label: "Section 4"
				},
				{
					backgroundColor: "#1ccdaa",
					label: "Section 5"
				}]
		};

		var scrollMenu = ScrollMenu(setupOption);*/
	</script>
{% endblock %}
