{% extends 'base.html.twig' %}

{% block title %} Profil {% endblock%}

{% block stylesheets %}
    <style type="text/css">
        table#my_requests tbody tr td{
            vertical-align: middle;
            padding: 2px;
        }
    </style>
{% endblock %}

{% block body %}
    <!--
    <div class="head_container">
        <nav class="nav-tabs"></nav>
    </div>
    -->
    <div id="menu">
        <a href="http://idv.parisdescartes.fr" target="_blank"><img id="logo" src="{{ asset('bundles/idv/images/logoIDV.png') }}" width="120"></a>
        <a id="help" href="{{ asset('bundles/idv/pdf/Manuel-Utilisation-CrowdIDV-V2.pdf') }}" download  >Help !</a>
    </div>
    <div class="clear-space"></div>
    <div class="nav_container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {#<li><a href="{{ path("home") }}">Accueil</a></li>#}
                        <li class="active"><a href="{{ path("requester_profile") }}">Profil <span class="sr-only">(current)</span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path("logout_crowder") }}">Log out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="main_container">
        <div class="row">
            {#<div class="col-md-4">#}
                {#<div class="panel panel-primary">#}
                    {#<div class="panel-heading">#}
                        {#<h3 class="panel-title">Navigation</h3>#}
                    {#</div>#}
                    {#<div class="panel-body">#}
                        {#<ul>#}
                            {#<li><a href="{{ path('home') }}">Accueil</a></li>#}
                            {#<li><a href="{{ path('requester_profile') }}">Profil</a></li>#}
                            {#<li><a href="{{ path("logout_crowder") }}">Log out</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Requester Profil</h3>
                    </div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#" class="link-upload-image">
                                    <img style="border: 3px solid #1f6377;" class="media-object" src="{{ asset(user.getUrl()) }}" height="128" width="128">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ user.getNom() ~" "~ user.getPrenom() }}</h4>
                                {{ user.getDescription() }}
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <ul class="nav nav-tabs nav-justified">
                            <li role="presentation" class="active tab-url" data-tab="first-tab"><a href="#">Profil</a></li>
                            <li role="presentation" class="tab-url" data-tab="second-tab"><a href="#">SEGMENTATION</a></li>
                            <li role="presentation" class="tab-url" data-tab="third-tab"><a href="#">ANNOTATION</a></li>
                            <li role="presentation" class="tab-url" data-tab="fourth-tab"><a href="#">QUALITÉ IMG</a></li>
                            <li role="presentation" class="tab-url" data-tab="fifth-tab"><a href="#">Mes demandes</a></li>
                        </ul>
                        <hr/>
                        <div class="container-fluid target-tab first-tab">
                            <form action="{{ path("requester_profile_edit") }}" method="post" enctype="multipart/form-data"><!-- class="edit_profile" -->
                                <div class="row" style="display: none;">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <label for="profile">Formats pris en compte {.jpg, .jpeg, .bmp, .png, .gif, .dcm}</label>
                                                <input id="input-image-profile" type="file" name="profile" class="form-control" accept=".jpg,.jpeg,.bmp,.png,.gif,.dcm" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Nom</h4>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nom" name="nom" value="{{ user.nom }}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Prénom</h4>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Prénom" name="prenom" value="{{ user.prenom }}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Adresse email</h4>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email" value="{{ user.email }}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Nom d'utilisateur</h4>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" name="username" value="{{ user.username }}" required>
                                        </div>
                                    </div>
                                </div>
                                {#<div class="form-group">#}
                                    {#<h4>Description</h4>#}
                                    {#<textarea name="description" class="form-control" placeholder="Description" rows="1">{{ user.description }}</textarea>#}
                                {#</div>#}
                                <div class="form-group">

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New password" name="npassword" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm password" name="cpassword">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h4>Confirmation des modifications</h4>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Current password" name="opassword" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Confirmer la modification</button>
                                </div>
                            </form>
                        </div>
                        <div class="container-fluid target-tab second-tab" style="display: none;">
                            <form action="{{ path("request_create") }}" method="post" class="create_request check-date" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Titre</h4>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Titre" name="titre" required>
                                        </div>
                                    </div>
                                    {#<div class="col-md-6">#}
                                        {#<div class="form-group">#}
                                            {#<h4>Catégorie</h4>#}
                                            {#<select name="categrie" class="form-control">#}
                                                {#{% for c in category %}#}
                                                    {#<option value="{{ c.id }}">{{ c.nom }}</option>#}
                                                {#{% endfor %}#}
                                            {#</select>#}
                                        {#</div>#}
                                    {#</div>#}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Description</h4>
                                            <textarea class="form-control" rows="1" name="description" placeholder="Description" required></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <h4>Echeance</h4>
                                    <div class="row">
                                        <div style="padding-left: 15px;">
                                            <input type="text" style="float:left; width: 60px; text-align: center" class="form-control" id="exampleInputEmail1" MAXLENGTH="2" placeholder="JJ" name="jj" required>
                                        {#</div>#}
                                        {#<div class="col-md-1 col-date">#}
                                            {#<label for="exampleInputEmail1">\</label>#}
                                        {#</div>#}
                                        {#<div class="col-md-3">#}
                                            <label style="float:left; font-weight: normal; font-size: 24px"> / </label><input type="text" style="float:left; width: 60px; text-align: center" class="form-control" id="exampleInputEmail1" MAXLENGTH="2" placeholder="MM" name="mm" required>
                                        {#</div>#}
                                        {#<div class="col-md-1 col-date">#}
                                            {#<label for="exampleInputEmail1">\</label>#}
                                        {#</div>#}
                                        {#<div class="col-md-4">#}
                                            <label style="float:left; font-weight: normal; font-size: 24px"> / </label><input type="text" style="width: 100px; text-align: center" class="form-control" id="exampleInputEmail1" MAXLENGTH="4" placeholder="AAAA" name="aaaa" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div id="fileInput">
                                        <h4><img src="{{ asset('bundles/idv/images/info-icon.png') }}" width="20px" height="20px"  data-toggle="tooltip" data-placement="top" data-html="true" title="Formats pris en compte {.jpg, .jpeg, .bmp, .png, .gif, .dcm}.<br> Il est possible de sélectionner plusieurs images simultanément avec la touche [CTRL]"/></h4>
                                        <input type="file" name="img_1[]" class="form-control" multiple required  accept=".jpg,.jpeg,.bmp,.png,.gif,.dcm">
                                    </div>
                                    <a id="addFile" style="float: right;" class="btn btn-success" aria-label="Left Align">+</a>
                                </div>

                                <input id="group_index" type="number" name="group_index" style="display: none;" value="1">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Créer demande</button>
                                </div>
                            </form>
                        </div>
                        <div class="container-fluid target-tab third-tab" style="display: none;">
                            <form action="{{ path('request_annotation_create') }}" method="post" class="create_request check-date" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Titre</h4>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Titre" name="titre" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Description</h4>
                                            <textarea class="form-control" rows="1" name="description" placeholder="Description" required></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <h4>Echeance</h4>
                                    <div class="row">
                                        <div style="padding-left: 15px;">
                                            <input type="text" style="float:left; width: 60px; text-align: center" class="form-control" id="exampleInputEmail1" MAXLENGTH="2" placeholder="JJ" name="jj" required>
                                            {#</div>#}
                                            {#<div class="col-md-1 col-date">#}
                                            {#<label for="exampleInputEmail1">\</label>#}
                                            {#</div>#}
                                            {#<div class="col-md-3">#}
                                            <label style="float:left; font-weight: normal; font-size: 24px"> / </label><input type="text" style="float:left; width: 60px; text-align: center" class="form-control" id="exampleInputEmail1" MAXLENGTH="2" placeholder="MM" name="mm" required>
                                            {#</div>#}
                                            {#<div class="col-md-1 col-date">#}
                                            {#<label for="exampleInputEmail1">\</label>#}
                                            {#</div>#}
                                            {#<div class="col-md-4">#}
                                            <label style="float:left; font-weight: normal; font-size: 24px"> / </label><input type="text" style="width: 100px; text-align: center" class="form-control" id="exampleInputEmail1" MAXLENGTH="4" placeholder="AAAA" name="aaaa" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h4><img src="{{ asset('bundles/idv/images/info-icon.png') }}" width="20px" height="20px"  data-toggle="tooltip" data-placement="top" data-html="true" title="Formats pris en compte {.jpg, .jpeg, .bmp, .png, .gif, .dcm}.<br> Il est possible de sélectionner plusieurs images simultanément avec la touche [CTRL]"/></h4>
                                    <input type="file" name="img[]" class="form-control" multiple required  accept=".jpg,.jpeg,.bmp,.png,.gif,.dcm">
                                </div>
                                <div class="form-group">
                                    <h4>Formulaire d'annotation : Choisissez les champs à annoter<a id="add-categorie" class="btn btn-success" aria-label="Left Align">+</a></h4>
                                    <table width="100%" style="margin: auto">
                                        <tr>
                                            {% set i = 0 %}
                                            {% for c in category %}
                                                {% set i = i+1 %}
                                                {% if i > 4 %}
                                                    </tr>
                                                    <tr>
                                                    {% set i = 1 %}
                                                {% endif %}
                                                    <td>
                                                        <input type="checkbox" name="categories[]" id="categorie_{{ c.id }}" value="{{ c.id }}">
                                                        <label for="categorie_{{ c.id }}">{{ c.nom }}</label>
                                                    </td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Créer demande</button>
                                </div>
                            </form>
                        </div>
                        <div class="container-fluid target-tab fourth-tab" style="display: none;">
                            <form action="{{ path('request_biologiste_create') }}" method="post" class="create_request check-date" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Titre</h4>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Titre" name="titre" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Description</h4>
                                            <textarea class="form-control" rows="1" name="description" placeholder="Description" required></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <h4>Echeance</h4>
                                    <div class="row">
                                        <div style="padding-left: 15px;">
                                            <input type="text" style="float:left; width: 60px; text-align: center" class="form-control" MAXLENGTH="2" placeholder="JJ" name="jj" required>
                                            <label style="float:left; font-weight: normal; font-size: 24px"> / </label><input type="text" style="float:left; width: 60px; text-align: center" class="form-control" MAXLENGTH="2" placeholder="MM" name="mm" required>
                                            <label style="float:left; font-weight: normal; font-size: 24px"> / </label><input type="text" style="width: 100px; text-align: center" class="form-control" MAXLENGTH="4" placeholder="AAAA" name="aaaa" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h4><img src="{{ asset('bundles/idv/images/info-icon.png') }}" width="20px" height="20px"  data-toggle="tooltip" data-placement="top" data-html="true" title="Formats pris en compte {.jpg, .jpeg, .bmp, .png, .gif, .dcm}.<br> Il est possible de sélectionner plusieurs images simultanément avec la touche [CTRL]"/></h4>
                                    <input type="file" name="img[]" class="form-control" multiple required  accept=".jpg,.jpeg,.bmp,.png,.gif,.dcm">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Créer demande</button>
                                </div>
                            </form>
                        </div>
                        <div class="container-fluid target-tab fifth-tab" style="display: none;">
                            <table class="table table-hover" id="my_requests" style="text-align: center">
                                <thead>
                                    <tr style="color: #1f6377; font-weight: bold">
                                        <td>Image</td>
                                        <td>Type de projet</td>
                                        <td>Titre</td>
                                        <td>Description</td>
                                        <td>Date d'écheance</td>
                                        <td>Code d'accès</td>
                                        <td>Etat</td>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for demande in user.getUserDemandes()|reverse %}
                                    <tr>
                                        <td><a href="{{ path('request_show', {'id_r' : demande.id}) }}"><img src="{{ asset(demande.url) }}" width="80" height="80"></a></td>
                                        <td>{{ translate_demande_type(demande.Type) | capitalize }}</td>
                                        <td>{{ demande.getTitre() }}</td>
                                        <td>{{ demande.description}}</td>
                                        <td>{{ demande.echeance.format("Y-m-d") }}</td>
                                        <td style="color:red; font-weight: bold">{{ demande.code }}</td>
                                        {% if  demande.verouiller == 1 %}
                                            <td><g style="background-color: #398439; font-weight: bold; color: #FFF">OPEN</g></td>
                                        {% else %}
                                            <td><g style="background-color: #B0413E; font-weight: bold; color: #FFF">LOCK</g></td>
                                        {% endif %}
                                        <td><a href="#" class="delete-demande"  data-id="{{ demande.id }}"><img src="{{ asset('bundles/idv/images/removeIcon.png') }}" width="20px"></a> </td>
                                        {#<td>#}
                                            {#<input type="checkbox" class="lock" {% if demande.verouiller == 1 %} checked {% endif %} >#}
                                            {#<input type="hidden" name="ilock" value="{{ demande.verouiller }}">#}
                                            {#<input type="hidden" name="id" value="{{ demande.id }}">#}
                                        {#</td>#}
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var showPopup = '{{ popup }}';

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.media-object').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#input-image-profile").change(function(){
            readURL(this);
        });
        $(document).ready(function(){
            // show popu confirmation
            if(showPopup === 'show') {
                $.alert({
                    title: 'Information !',
                    content: 'Votre projet a bien été créé veuillez vérifier [Mes demandes]'
                });
            }
            $('#addFile').click(function () {
                var index = parseInt($('#group_index').val())+1;
                $('#fileInput').append("<input type='file' name='img"+"_"+index+"[]' class='form-control' multiple>");
                $('#group_index').val(index);
            });
            $('.link-upload-image').click(function(){
                $('#input-image-profile').click();
            });
            $(document).on('click','.delete-demande', function (e) {
                e.preventDefault();

                var id = $(this).data('id');
                var url = Routing.generate('ajax_remove_demande', { demande: id });
                var $row = $(this).closest('tr');

                $.confirm({
                    title: 'Confirm!',
                    content: 'Voulez vous supprimer!!',
                    buttons: {
                        confirm: function () {
                            $.ajax({
                                method: "POST",
                                url: url,
                                data: { demande: id }
                            }).done(function( data ) {
                                if(data.success){
                                    $row.fadeOut(300, function() { $(this).remove(); });
                                }
                            });
                        },
                        cancel: function () {
                        }
                    }
                });

            });

            // click add categorie
            $(document).on('click', '#add-categorie', function(e){
                e.preventDefault();
                $.confirm({
                    title: 'Ajouter une nouvelle catégorie!',
                    content: '' +
                    '<form action="" class="cat">' +
                    '<div class="form-group">' +
                    '<label>Nom de la catégorie</label>' +
                    '<input type="text" placeholder="Your name" class="name form-control" required />' +
                    '</div>' +
                    '</form>',
                    buttons: {
                        formSubmit: {
                            text: 'Submit',
                            btnClass: 'btn-blue',
                            action: function () {
                                var name = this.$content.find('.name').val();
                                if(!name){
                                    $.alert('Entrée un nom correct');
                                    return false;
                                }
                                $.ajax({
                                    method: "POST",
                                    url: Routing.generate('ajax_add_category', {name: name}),
                                }).done(function( data ) {
                                    if(data.success){
                                        location.reload();
                                    }
                                });
                            }
                        },
                        cancel: function () {
                            //close
                        },
                    },
                    onContentReady: function () {
                        // bind to events
                        var jc = this;
                        this.$content.find('form').on('submit', function (e) {
                            // if the user submits the form by pressing enter in the field.
                            e.preventDefault();
                            jc.$$formSubmit.trigger('click'); // reference the button and click it
                        });
                    }
                });
            });

            $(document).on('submit', '.check-date', function (event) {
                var eDate = {
                    day: $(this).find('input[name="jj"]').val(),
                    month: $(this).find('input[name="mm"]').val(),
                    year: $(this).find('input[name="aaaa"]').val()
                };
                var oEntredDate = new Date(eDate.year+'-'+eDate.month+'-'+eDate.day+'T00:00:00');
                var currentDate = new Date();
                if(oEntredDate < currentDate) {
                    $.confirm({
                        title: 'Attention !',
                        content: 'La date  d\'échéance est déjà dépassée.',
                        type: 'red',
                        closeIcon: true,
                        typeAnimated: true,
                        buttons: {
                            ok: function () {
                            }
                        }
                    });

                    return false;
                }
            });
        });

    </script>
{% endblock %}
