{% extends 'base.html.twig' %}

{% set demande = currentImage.demande %}

{% block title %} Welcome Home {% endblock%}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {#<div class="head_container">#}
    {#<nav class="nav-tabs"></nav>#}
    {#</div>#}
    <div id="menu">
        <a href="http://idv.parisdescartes.fr" target="_blank"><img id="logo" src="{{ asset('bundles/idv/images/logoIDV.png') }}" width="120"></a>
        <a id="help" href="{{ asset('bundles/idv/pdf/Manuel-Utilisation-CrowdIDV-V2.pdf') }}" download  >Help !</a>
    </div>
    <div class="clear-space"></div>
    <div class="nav_container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {#<li><a href="{{ path("home") }}">Accueil</a></li>#}
                        <li><a href="{{ path("requester_profile") }}">Profil <span class="sr-only">(current)</span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path("logout_requester") }}">Log out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="main_container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align: center">Analyse - Projet de {{ demande.type | capitalize }}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <table border="" width="100%" style="text-align: center">
                            <tr style="color: #1f6377; font-weight: bold">
                                <td width=18% rowspan=2 style="text-align: center; color: #FFF; background-color: #1f6377">Projet</td>
                                <td>Type de projet</td>
                                <td>Titre</td>
                                <td>Description</td>
                                <td>Date d'écheance</td>
                                <td>Code d'accès</td>
                                <td>Etat</td>
                            </tr>
                            <tr>
                                <td>{{ demande.type | capitalize }}</td>
                                <td>{{ demande.titre }}</td>
                                <td>{{ demande.description }}</td>
                                <td>{{ demande.echeance.format('d / m / Y') }}</td>
                                <td style="color: red; font-weight: bold">{{ demande.code }}</td>
                                {% if  demande.verouiller == 1 %}
                                    <td><g style="background-color: #398439; font-weight: bold; color: #FFF">OPEN</g></td>
                                {% else %}
                                    <td><g style="background-color: #B0413E; font-weight: bold; color: #FFF">LOCK</g></td>
                                {% endif %}

                            </tr>
                        </table>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="col-md-7">
                        <div class="imgCanvas">
                            <img src="{{ asset(currentImage.url) }}" width="100%">
                            {% if demande is defined %}
                                {% for a in annotations %}
                                    <div class="tagView"
                                         style="left: {{ a.xPoint }}px; top: {{ a.yPoint }}px;">
                                        <div class="box" style="margin: 0 auto;width: {{ a.width }}px; height: {{ a.height }}px;"></div>
                                        <div class="annoTag">{{ a.description[:20] }}</div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% if demande.type == constant('IdvBundle\\Entity\\Demande::TYPE_SEGMENTATION') %}
                        <div class="col-md-5">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="text-align: center">Legende</h3>
                                </div>
                                <div class="panel-body">
                                    <table width="100%">
                                        <tr>
                                            <td><img src="{{ asset('bundles/idv/images/carre_rouge.png') }}"></td>
                                            <td style="font-weight: bold">Annotations des étudiants</td>
                                        </tr>
                                        <tr>
                                            <td><img src="{{ asset('bundles/idv/images/carre_vert.png') }}"></td>
                                            <td style="font-weight: bold">Annotations après analyse</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            {% if not currentImage.validated %}
                                <a href="{{ path('validate_image_analyse', {'image': currentImage.id}) }}" class="btn btn-default validate-analyse" data-echeance="{{ demande.echeance|date("Y-m-d") ~'T00:00:00' }}"  style="line-height: 30px; background-color: rgb(34,177,76); font-weight: bold">VALIDER L'ANALYSE</a>
                                <a href="{{ path('reject_image_analyse', {'image': currentImage.id }) }}" class="btn btn-default refuse-analyse" data-echeance="{{ demande.echeance|date("Y-m-d") ~'T00:00:00' }}"  style="line-height: 30px; background-color: rgb(237,28,36); font-weight: bold">REFUSER L'ANALYSE</a>
                            {% endif %}
                        </div>
                    {% elseif demande.type == constant('IdvBundle\\Entity\\Demande::TYPE_ANNOTATION') %}
                        <div class="col-md-5">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="text-align: center">Résultat d'Analyse</h3>
                                </div>
                                <div class="panel-body">
                                    <table width="100%">
                                        {% for categorie in demande.categories %}
                                            <tr>
                                                <td>{{ categorie.nom }} :</td>
                                                <td style="font-weight: bold">{{ calculate_reponse(currentImage, categorie) }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            {% if not currentImage.validated %}
                                <a href="{{ path('validate_image_analyse', {'image':  currentImage.id }) }}" class="btn btn-default validate-analyse" data-echeance="{{ demande.echeance|date("Y-m-d") ~'T00:00:00' }}"  style="line-height: 30px; background-color: rgb(34,177,76); font-weight: bold">VALIDER L'ANALYSE</a>
                                <a href="{{ path('reject_image_analyse', {'image': currentImage.id }) }}" class="btn btn-default refuse-analyse" data-echeance="{{ demande.echeance|date("Y-m-d") ~'T00:00:00' }}" style="line-height: 30px; background-color: rgb(237,28,36); font-weight: bold">REFUSER L'ANALYSE</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div style="max-height: 240px; overflow: auto;">
                       {% for image in demande.demandeImages %}
                           <a style="display: inline-block; position: relative" href="{{ path('requester_show_image_annotation',{"image": image.id}) }}">
                               <img src="{{ asset(image.url) }}" width="120px" height="120px" class="{% if is_annotated_image_requester(image) %} is-cheked{% else %} not-checked{% endif %}  {% if image.validated %} is-validated{% endif %}">
                               {% if is_annotated_image_requester(image) %}
                                   <img src="{{ asset('bundles/idv/images/checked.png') }}"  width='20px' height="20px" style="position: absolute; bottom: 3px; left:0;" />
                               {% else %}
                                   <img src="{{ asset('bundles/idv/images/unchecked.png') }}"  width='15px' height="15px" style="position: absolute; bottom: 3px; left:0;" />
                               {% endif %}
                               {% if image.validated %}
                                   <img src="{{ asset('bundles/idv/images/lock.png') }}"  width='20px' height="20px" style="position: absolute; top: 0px;" />
                               {% endif %}
                           </a>
                       {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}