{% extends 'base.html.twig' %}

{% block title %} Sign in{% endblock%}

{% block stylesheets %}
{% endblock %}

{% block body %}
	<div id="menu">
		<a href="{{ path('home') }}"><img id="logo" src="{{ asset('bundles/idv/images/logoIDV.png') }}" width="120"></a>
		<a id="help" href="{{ asset('bundles/idv/pdf/Manuel-Utilisation-CrowdIDV-V2.pdf') }}" download  >Help !</a>
	</div>
	<div class="clear-space"></div>
	<div class="login_container">
		<div style="cursor: pointer;" class="login login_crw">
			<div class="tmp_login">Annoteur</div>
			<div class="frm_crw" style="display: none">
				<h4>Log in</h4>
				<form action="{{ path('crowder_login') }}" method="post">
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" name="password">
					</div>
					<button type="submit" class="btn btn-default">Se connecter</button>
					<a href="#" class="link-forget-password" data-type="crowder" >Mot de passe oublié</a>
					<input type="hidden" name="type" value="crw" />
				</form>
			</div>
		</div>
		<div style="cursor: pointer;" class="login login_req">
			<div class="tmp_login">Imageur</div>
			<div class="frm_crw" style="display: none">
				<h4>Log in</h4>
				<form method="post" action="{{ path('requester_login') }}">
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" name="password">
					</div>
					<input type="hidden" name="type" value="req" />
					<button type="submit" class="btn btn-default">Se connecter</button>
					<a href="#" class="link-forget-password" data-type="requester" >Mot de passe oublié</a>
				</form>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="application/javascript">
		var login = {
		    buttons:{
		        forgotPassword: '.link-forget-password'
		    },
			init: function(){
		        var buttons = this.buttons;
		        var self = this;
		        $(document).on('click', buttons.forgotPassword, function(e){
					e.preventDefault();
					self.forgetPasswordAction($(this));
				});
			},
			forgetPasswordAction: function ($link) {
			    var url = Routing.generate('idv_forgot_password');
			    var type = $link.data('type');

                $.confirm({
                    draggable: true,
					closeIcon: true,
                    title: 'Mot de passe oublié!',
                    content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>Votre Email</label>' +
                    '<input type="text" placeholder="votre email" class="user-email form-control" required />' +
                    '</div>' +
                    '</form>',
                    buttons: {
                        formSubmit: {
                            text: 'Envoyer',
                            btnClass: 'btn-blue',
                            action: function () {
                                var email = this.$content.find('.user-email').val();
                                if(!email){
                                    $.alert('Vous devez indiquer votre email!');
                                    return false;
                                }
                                $.ajax({
                                    method: "POST",
                                    url: url,
                                    data: {type: type, email: email},
                                    dataType: "json"
                                }).done(function (data) {
                                    if(data.success){
                                        $.alert('Le mot de passe a été envoyé à l\'adresse ' + email);
                                    } else {
                                        $.alert(data.message);
                                        return false;
									}
                                });
                            }
                        },
                        cancel: {
                            text: 'Annuler',
                            action: function () {
                            }
						}
                    }
                });

            }

		}

        $(document).ready(function () {
            login.init();
        })
	</script>
{% endblock %}
