{% extends 'base.html.twig' %}

{% set demande = currentImage.demande %}
{% block stylesheets %}
    <style>
        .imgHolder {
            /*
            width: 50%;
            margin: 0 auto;*/
        }

        .imgCanvas {
            position: relative;
            margin: 0 auto;
            cursor: crosshair;
            display: inline-block;
            user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .tagHolder {
            display: none;
            position: absolute;
        }

        .box {
            border: 1px solid #F10303;
        }

        .tagView {
            position: absolute;
            opacity: 0;
        }

        .annoTag {
            background-color: black;
            color: white;
            text-align: center;
            clear: both;
        }

        .actionView {

        }
    </style
{% endblock %}

{% block body %}
    {#<div class="head_container">#}
    {#<nav class="nav-tabs"></nav>#}
    {#</div>#}
    <div id="menu">
        <a href="http://idv.parisdescartes.fr" target="_blank"><img id="logo" src="{{ asset('bundles/idv/images/logoIDV.png') }}" width="120"></a>
        <a id="help" href="{{ asset('bundles/idv/pdf/Manuel-Utilisation-CrowdIDV-V2.pdf') }}" download  >Help !</a>
    </div>
    <div class="clear-space"></div>
    <div class="nav_container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {#<li><a href="{{ path("home") }}">Accueil</a></li>#}
                        <li><a href="{{ path("crowder_profile") }}">Profil <span class="sr-only">(current)</span></a></li>
                        <li><a href="{{ path('show_requests') }}">Tâches</a></li>
                        {#<li><a href="">Récompenses</a></li>#}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path("logout_requester") }}">Log out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="main_container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title" style="text-align: center">{{ demande.type | capitalize }} du projet - {{ demande.titre }}</h2>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <table border="" width="100%" style="text-align: center">
                            <tr style="color: #1f6377; font-weight: bold">
                                <td width=18% rowspan=2 style="text-align: center; color: #FFF; background-color: #1f6377">Projet</td>
                                <td>Type de projet</td>
                                <td>Titre</td>
                                <td>Description</td>
                                <td>Date d'écheance</td>
                            </tr>
                            <tr>
                                <td>{{ demande.type }}</td>
                                <td>{{ demande.titre }}</td>
                                <td>{{ demande.description }}</td>
                                <td>{{ demande.echeance.format('d / m / Y') }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel-body">
                    {% if demande.type == constant('IdvBundle\\Entity\\Demande::TYPE_SEGMENTATION') %}
                        {{ include('@Idv/Idv/partials/request_segment.html.twig') }}
                    {% elseif demande.type == constant('IdvBundle\\Entity\\Demande::TYPE_ANNOTATION') %}
                        {{ include('@Idv/Idv/partials/request_annotation.html.twig') }}
                    {% elseif demande.type == constant('IdvBundle\\Entity\\Demande::TYPE_BIOLOGISTE') %}
                        {{ include('@Idv/Idv/partials/request_biologiste.html.twig') }}
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div style="max-height: 240px; overflow: auto;">
                        {% for image in demande.demandeImages %}
                            <a style="display: inline-block; position: relative" href="{{ path('annotate_image_biologiste',{"image": image.id}) }}">
                                <img src="{{ asset(image.url) }}" width="120px" height="120px" class="{% if is_annotated_image(image) %} is-cheked{% else %} not-checked{% endif %}  {% if image.validated %} is-validated{% endif %}">
                                {% if is_annotated_image(image) %}
                                    <img src="{{ asset('bundles/idv/images/checked.png') }}"  width='20px' height="20px" style="position: absolute; bottom: 3px; left:0;" />
                                {% else %}
                                    <img src="{{ asset('bundles/idv/images/unchecked.png') }}"  width='15px' height="15px" style="position: absolute; bottom: 3px; left:0;" />
                                {% endif %}
                                {% if image.validated %}
                                    <img src="{{ asset('bundles/idv/images/lock.png') }}"  width='20px' height="20px" style="position: absolute;top:0;" />
                                {% endif %}
                            </a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}