{% extends 'base.html.twig' %}

{% block title %} Welcome Home {% endblock%}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/scroll/scrollmenu.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/scroll/base.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/scroll/demo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/main.css') }}">
{% endblock %}

{% block body %}
    <div id="menu">
        <a href="http://idv.parisdescartes.fr" target="_blank"><img id="logo" src="{{ asset('bundles/idv/images/logoIDV.png') }}" width="120"></a>
        <a id="help" href="{{ asset('bundles/idv/pdf/Manuel-Utilisation-CrowdIDV-V2.pdf') }}" download  >Help !</a>
    </div>
    <div class="clear-space"></div>
    <div class="main_container" style="color: #333">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Résultat de l'analyse</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{ result }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content main_container">
                <div class="row">
                    <div class="col-md-5 imgCanvas">
                        <img src="" class="img-ann" width="100%">
                        <div class="tagView">
                            <div class="box"></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h2>Annotation</h2>
                        <p class="txt-ann"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

