{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        table#my_requests tbody tr td{
            vertical-align: middle;
            padding: 2px;
        }
    </style>
{% endblock %}

{% block body %}
    {#<div class="head_container">#}
        {#<nav class="nav-tabs"></nav>#}
    {#</div>#}
    <div id="menu">
        <a href="http://idv.parisdescartes.fr" target="_blank"><img id="logo" src="{{ asset('bundles/idv/images/logoIDV.png') }}" width="120"></a>
        <a id="help" href="{{ asset('bundles/idv/pdf/Manuel-Utilisation-CrowdIDV-V2.pdf') }}" download  >Help !</a>
    </div>
    <div class="clear-space"></div>
    <div class="nav_container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {#<li><a href="{{ path("home") }}">Accueil</a></li>#}
                        <li><a href="{{ path("crowder_profile") }}">Profil <span class="sr-only">(current)</span></a></li>
                        <li class="active"><a href="{{ path('show_requests') }}">Tâches</a></li>
                        {#<li><a href="">Récompenses</a></li>#}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path("logout_requester") }}">Log out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="main_container">

            <table class="table table-hover" id="my_requests" style="text-align: center">
                <thead>
                <tr style="color: #1f6377; font-weight: bold">
                    <td>Image</td>
                    <td>Type de projet</td>
                    <td>Titre</td>
                    <td>Description</td>
                    <td>Date d'écheance</td>
                    <td>Créateur</td>
                    <td>Code d'accès</td>

                </tr>
                </thead>
                <tbody>
                {% for r in result|reverse %}
                <form class="form-horizontal" method="post" action="{{ path('check_request') }}" enctype="multipart/form-data">
                    <tr>
                        <td><img src="{{ asset(r.url) }}" width="80" height="80"></td>
                        <td>{{ r.type | capitalize }}</td>
                        <td>{{ r.getTitre() }}</td>
                        <td>{{ r.description}}</td>
                        <td>{{ r.echeance.format("Y-m-d") }}</td>
                        <td>{{ r.owner.nom ~ ' ' ~ r.owner.prenom }}</td>
                        <td>
                            <input type="hidden" name="ID" value="{{ r.id }}">
                            <input type="text" placeholder="CODE" maxlength="5" name="CODE" style="color:red; font-weight:bold; width: 40%; text-align: center"><br>
                            <input type="submit" value="GO" style="width: 40%; background-color: #1f6377; color: #FFF; border: none; border-top-right-radius: 40px; border-bottom-right-radius: 10px; font-weight: bold">
                        </td>
                        {#<td>#}
                        {#<input type="checkbox" class="lock" {% if demande.verouiller == 1 %} checked {% endif %} >#}
                        {#<input type="hidden" name="ilock" value="{{ demande.verouiller }}">#}
                        {#<input type="hidden" name="id" value="{{ demande.id }}">#}
                        {#</td>#}
                    </tr>

                </form>
                {% endfor %}

                </tbody>
            </table>
    </div>
{% endblock %}