<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/main.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="">
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% block header %}
            <!--
            <div class="head_container">
                <nav class="nav-tabs"></nav>
            </div>-->
        {% endblock %}
        {% block body %}{% endblock %}
        <script type="text/javascript" src="{{ asset('bundles/idv/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/idv/js/bootstrap.js') }}"></script>
        {% block javascripts %}

        {% endblock %}
        <script type="text/javascript" src="{{ asset('bundles/idv/js/animation.js') }}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.js"></script>
    </body>
</html>
