{% extends 'base.html.twig' %}

{% block title %} Welcome Home {% endblock%}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/scroll/scrollmenu.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/scroll/base.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/scroll/demo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/idv/css/main.css') }}">
{% endblock %}

{% block body %}
    {#<div class="head_container">#}
        {#<nav class="nav-tabs"></nav>#}
    {#</div>#}
    <div id="menu">
        <a href="http://idv.parisdescartes.fr" target="_blank"><img id="logo" src="{{ asset('bundles/idv/images/logoIDV.png') }}" width="120"></a>
        <a id="help" href="{{ asset('bundles/idv/pdf/Manuel-Utilisation-CrowdIDV-V2.pdf') }}" download  >Help !</a>
    </div>
    <div class="clear-space"></div>
    <div class="nav_container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {#<li><a href="{{ path("home") }}">Accueil</a></li>#}
                        <li class="active"><a href="{{ path("crowder_profile") }}">Profil <span class="sr-only">(current)</span></a></li>
                        <li><a href="{{ path('show_requests') }}">Tâches</a></li>
                        {#<li><a href="">Récompenses</a></li>#}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path("logout_crowder") }}">Log out</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="main_container" style="color: #333">
        <div class="row">
            {#<div class="col-md-4">#}
                {#<div class="panel panel-primary">#}
                    {#<div class="panel-heading">#}
                        {#<h3 class="panel-title">Navigation</h3>#}
                    {#</div>#}
                    {#<div class="panel-body">#}
                        {#<ul>#}
                            {#<li><a href="{{ path('home') }}">Accueil</a></li>#}
                            {#<li><a href="{{ path('show_requests') }}">Tâches</a></li>#}
                            {#<li><a href="{{ path("logout_crowder") }}">Log out</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Crowder Profil</h3>
                    </div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#" class="link-upload-image">
                                    <img style="border: 3px solid #1f6377;" class="media-object" src="{{ asset(user.getUrl()) }}"  height="128" width="128">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{ user.getNom() ~" "~ user.getPrenom() }}</h4>
                                {{ user.description }}
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        {#<ul class="nav nav-tabs nav-justified">#}
                            {#<li role="presentation" class="active first-tab-url"><a href="">Profil</a></li>#}
                            {#<li role="presentation" class="second-tab-url"><a href="">Annotations</a></li>#}
                            {#<!--<li role="presentation" class="third-tab-url"><a href="#">Mes demandes</a></li>-->#}
                        {#</ul>#}
                        <hr />
                        <div class="container-fluid first-tab">
                            <form action="{{ path('crowder_profile_edit') }}" method="post"  enctype="multipart/form-data">
                                <div class="row" style="display: none;">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <input id="input-image-profile" type="file" name="profile" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Nom</h4>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nom" name="nom" value="{{ user.nom }}" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Prénom</h4>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Prénom" name="prenom" value="{{ user.prenom }}" required="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Email</h4>
                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email" value="{{ user.email }}" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Nom d'utilisateur</h4>
                                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username" name="username" value="{{ user.username }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {#<h4>Description</h4>#}
                                    {#<textarea name="description" class="form-control" placeholder="Description" rows="1">{{ user.description }}</textarea>#}
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Nouveau mot de passe</h4>
                                            <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Mot de passe" name="n_password">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h4>Confirmation de mot de passe</h4>
                                            <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Mot de passe" name="c_password" >
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h4>Confirmation des modifications</h4>
                                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Mot de passe" name="o_password" required="required">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Confirmer la modification</button>
                                </div>
                            </form>
                        </div>
                        {#<div class="container-fluid second-tab" style="display: none;">#}
                            {#<table class="table table-hover">#}
                                {#<thead>#}
                                {#<tr>#}
                                    {#<th>Id</th>#}
                                    {#<th>Titre de la demande</th>#}
                                    {#<th>Annotation</th>#}
                                {#</tr>#}
                                {#</thead>#}
                                {#<tbody>#}
                                    {#{% for a in user.getRAnnotations()|reverse %}#}
                                    {#<tr>#}
                                        {#<td><a href="" data-toggle="modal" data-target=".bs-example-modal-lg">#}
                                                {#{{ a.getId() }}#}
                                                {#<input type="hidden" value="{{ a.getId() }}">#}
                                            {#</a>#}
                                        {#</td>#}
                                        {#<td>{{ a.imageAnnotation.demande.titre }}</td>#}
                                        {#<td>{{ a.imageAnnotation.demande.description }}</td>#}
                                    {#</tr>#}
                                    {#{% endfor %}#}
                                {#</tbody>#}
                            {#</table>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content main_container">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Annotation</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-7">
                                <div class="imgCanvas">
                                    <img src="" class="img-ann" width="100%">
                                    <div class="tagView">
                                        <div class="box"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Informations</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr><td>Titre</td><td class="td1"></td></tr>
                                            <tr><td>Confiance</td><td class="td2"></td></tr>
                                            <tr><td>Description</td><td class="td3"></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.media-object').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#input-image-profile").change(function(){
            readURL(this);
        });
        $(document).ready(function(){
            $('.link-upload-image').click(function(){
                $('#input-image-profile').click();
            });
        });
    </script>
{% endblock %}

