body{
    background-color: #ededed;
    color: #333;}

#menu li {
    display:inline-block;
    margin: 10px;
    color: #000;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#menu li.active{
    background:#666;
    background: rgba(0,0,0, 0.5);
    color: #fff;
}
#menu li a{
    text-decoration:none;
    color: #000;
}
#menu li.active a:hover{
    color: #000;
}
#menu li:hover{
    background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
    padding: 9px 18px;
    display:block;
}
#menu li.active a{
    color: #fff;
}
#menu{
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}

/*Abid*/

#section1{
    background: url('../images/irm2.png') no-repeat center;
    padding: 0;
    background-size: cover;
}
div#menu{
    background-color: #1f6377;
    overflow: hidden;
    height: 50px;
}
.clear-space{
    height:50px;
}
div#menu img#logo{
    box-shadow: 6px 6px 6px #000;
    position: fixed;
    left:30px;
    top:5px;
}

div#menu a#help{
    float: right;
    color: #FFF;
    margin-right: 55px;
    margin-top:14px;
    font-size: 16px;
}

#section1 a#cnx{
    font-size:14px;
    color:#1f6377;
    background-color:#FFF;
    width: 120px;
    float: right;
    margin-right: 55px;
    margin-top:7px;
}
#section1 a#cnx:hover{
    text-decoration: underline;
}
.signform{
    position: absolute;
    right: 55px;
    top: 80px;
    width: 28%;
    background-color: #ededed;
    padding: 10px 30px 20px 30px;
    color: #337ab7;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 4px 4px 20px #000;
}

.col-sm-10{width: 95%;}
.btn-default{
    background-color:#1f6377;
    width: 100%;
    color: #ffffff;
    height: 40px;
}

/********Login page**********/

.login_container{width: 1024px;
    height: 400px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.login{
    width: 400px;
    height: 320px;
    position: relative;
    color: #1f6377;
    border: solid 10px #ffffff;
}

.login_crw:hover, .login_req:hover{

    border: solid 3px #1f6377;
}

.login h4{
    text-align: center;
}

.login_crw{
    background: url("../images/demandeur.jpg") top no-repeat #ffffff;
    background-size: contain;
    margin: 0 12px 0 100px;
    padding: 35px 10px 0;
    float: left;

}

.login_crw input{ margin: 10px 0;}

.login_req{background: url("../images/crowdeur.jpg") top no-repeat #ffffff;
    background-size: contain;
    margin: 0 100px 0 12px;
    padding: 35px 10px 0;
    float: right;
}

.tmp_login{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    text-align: center;
}

.form-group h4{color: #337ab7}

/***********************************profil******************************************noir #09091a*/
/*
.head_container{
    height: 15vh;
    background: url("../images/logoIDV.png") no-repeat left top #ffffff;
    width: 950px;
    margin: 0 auto;
}
*/
.nav_container{
    height: 7vh;
    width: 950px;
    margin: 2vh auto;
    background-color: #f6f6f6;

}

.main_container{
    background-color: #f6f6f6;
    width: 950px;
    min-height: 80vh;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #dedede;
    border-radius: 15px;
}

.left_container{
    width: 250px;
    float: left;
}

.right_container{
    width: 623px;
    float: left;
    margin-left: 25px;
}

.col-date label{
    width:100%; height: 20px;
    text-align: center;
    margin:7px 0;
}


/*************************************************Soufiane************************************************/

.imgHolder {
    width: 400px;
    /*margin: 0 auto;*/
}

.imgCanvas {
    position: relative;
    margin: 0 auto;
    cursor: crosshair;
    /*display: inline-block;*/
    width: 400px;
    margin: 0 auto;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.tagHolder {
    display: none;
    position: absolute;
}

.box {
    border: 1px solid #F10303;
}

.tagView {
    position: absolute;
    opacity: 0;
}

.annoTag {
    background-color: black;
    color: white;
    text-align: center;
    clear: both;
}

img.is-cheked {
    padding:1px;
    border:2px solid green;
    /*background-color:darkgreen;*/
}

img.not-checked {
    padding:1px;
    border:1px solid red;
    /*background-color:darkgreen;*/
}

img.is-validated {
    opacity: 0.3;
}

a.link-img {
    text-decoration: none;
}