* {
    margin: 0;
    padding: 0;
}
#container {
    width: 100%;
    height: 662px;
    overflow: hidden;
    background: #ff00ff;
}
#slideshow {
    height: 100%;
    width: 100%;
}
#slideshow img {
    height: 100%;
    width: 100%;
}
#pager {
    text-align: center;
    height: 120px;
    width: 100%;
    position: absolute;
    bottom: 5%;
    background: rgba(0,0,0,.5);
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}
#pager:hover {
    opacity: 1;
}

#prev {
    height: 120px;
    width: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    margin: auto 10px;
    z-index: 1000;
}
#next {
    height: 120px;
    width: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    margin: auto 10px;
    z-index: 1000;
}

#pager img {
    margin: 10px 5px;
    opacity:0.3;
    transition:all .3s ease-in-out 0s;
}
#pager img:hover {
    opacity:1;
    transform:scale(1.05);
    z-index:100;
}

/*Temparory*/

.form_content{

    width: 60%;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    color: #16a085;
    box-shadow: 0px 0px 30px #888888;
    border-radius: 15px;
}
.form_content h3{padding-bottom: 20px; padding-left:20px;}

.btn-primary{width: 80%; background-color: #16a085;}

.scroll-menu-wrapper.horizontal-menu .scroll-anchor{max-width: 189px;}