<div class="panel-body">
    <div class="col-md-12">
        <div class="col-md-7">
            <div class="imgHolder">
                <div class="imgCanvas">
                    <img src="{{ asset(currentImage.url) }}" width="100%" >
                    {% if demande is defined %}
                        {% if userAnnotation %}
                            <div class="tagView"
                                 style="left: {{ userAnnotation.xPoint }}px; top: {{ userAnnotation.yPoint }}px;">
                                <div class="box" style="margin: 0 auto;width: {{ userAnnotation.width }}px; height: {{ userAnnotation.height }}px;"></div>
                                <div class="annoTag">{{ userAnnotation.description[:20] }}</div>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="tagHolder">
                        <div class="box"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            {% if not currentImage.validated  %}
                <form method="post" action="{{ path('segmentation_request') }}">
                    <div class="form-group">
                        <h4>Confiance</h4>
                        <select name="confiance" class="form-control">
                            <option value="100">Très confiant</option>
                            <option value="50">Confiant</option>
                            <option value="0">Peu confiant</option>
                        </select>
                    </div>
                    <div class="form-group">
                        {#<h4>Description</h4>#}
                        <textarea style="display: none" class="form-control" name="description" rows="1"></textarea>
                        <input type="hidden" name="xpoint">
                        <input type="hidden" name="ypoint">
                        <input type="hidden" name="width">
                        <input type="hidden" name="height">
                    </div>
                    {% if not currentImage.validated %}
                        <div class="form-group">
                            <input type="hidden" name="request_id" value="{{ currentImage.id }}">
                            <button type="submit" class="btn btn-default" style="background-color: #1a981c; color: white" >Valider ma segmentation</button>
                            {#<button type="submit" class="btn btn-default btn-annuler">Annuler</button>#}
                        </div>
                    {% endif %}
                </form>
            {% endif %}
        </div>
    </div>

    <div class="panel-body"></div>
    <div class="panel-body">
        <div style="max-height: 240px; overflow: auto;">
        {% for image in currentImage.group.images %}
            {% if image != currentImage or true %}
                <a style="display: inline-block; position: relative" href="{{ path('annotate_image',{"image": image.id, group: image.group.id}) }}" class="link-img">
                    <img src="{{ asset(image.url) }}" width="120px" height="120px" class="{% if is_segmented_image(image) %} is-cheked{% else %} not-checked{% endif %} {% if image.validated %} is-validated{% endif %}">
                    {% if is_segmented_image(image) %}
                        <img src="{{ asset('bundles/idv/images/checked.png') }}"  width='20px' height="20px" style="position: absolute;bottom: 3px; left:0;" />
                    {% else %}
                        <img src="{{ asset('bundles/idv/images/unchecked.png') }}"  width='15px' height="15px" style="position: absolute;bottom: 3px; left:0;" />
                    {% endif %}
                    {% if image.validated %}
                        <img src="{{ asset('bundles/idv/images/lock.png') }}"  width='20px' height="20px" style="position: absolute;top:0;" />
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="panel-body">
        <h3>Voir une autre Stack d'image :</h3>
        <div class="col-md-12">
            {% set demandesImages = get_images_by_demande(demande) %}
            {% for group in demandesImages %}
                {% if group.group != currentImage.group %}
                    {% for image in group.images %}
                        {% if loop.first %}
                            <a style="display: inline-block; position: relative" href="{{ path('annotate_image',{"image": image.id, group: group.group.id}) }}" class="link-img">
                                <img src="{{ asset(image.url) }}" width="120px" height="120px" class="{% if is_segmented_group(group.group) %} is-cheked{% else %}not-checked{% endif %}">
                                {% if is_segmented_group(group.group) %}
                                    <img src="{{ asset('bundles/idv/images/checked.png') }}"  width='20px' height="20px" style="position: absolute; bottom: 3px; left:0;"/>
                                {% else %}
                                    <img src="{{ asset('bundles/idv/images/unchecked.png') }}"  width='15px' height="15px" style="position: absolute; bottom: 3px; left:0;" />
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>