<table width="100%">
    <tr>
        <td>
            <div class="imgCanvas">
                <img src="{{ asset(currentImage.url) }}" width="100%" >
            </div>
        </td>
        <td>
            <form method="post" action="{{ path('annotate_request') }}">
                <div class="form-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="text-align: center">Annoter</h3>
                        </div>
                        <div style="padding: 10px">
                            <table width="100%">
                                {% for categorie in demande.categories %}
                                    {% set category_value = '' %}
                                    {% for reponse in reponses %}
                                        {% if reponse.categorie == categorie %}
                                            {% set category_value = reponse.reponse %}
                                        {% endif %}
                                    {% endfor %}
                                    <tr>
                                        <td  style="padding: 5px">{{ categorie.nom }}</td>
                                        <td style="padding:5px; font-weight: bold">: <input type="text" id="cat_{{ categorie.id }}" name="cat_{{ categorie.id }}" value="{{ category_value }}" required="required"> </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <h4>Confiance</h4>
                    <select name="confiance" class="form-control">
                        <option value="100">Très confiant</option>
                        <option value="50">Confiant</option>
                        <option value="0">Peu confiant</option>
                    </select>
                </div>
                {% if not currentImage.validated %}
                    <div class="form-group">
                        <input type="hidden" name="request_id" value="{{ currentImage.id }}">
                        <button type="submit" class="btn btn-default" style="background-color: #1a981c; color: white" >Valider mes annotations</button>
                    </div>
                {% endif %}
            </form>
        </td>
    </tr>
</table>
