<table width="100%">
    <tr>
        <td>
            <div class="imgCanvas">
                <img src="{{ asset(currentImage.url) }}" width="100%" >
            </div>
        </td>
        <td>
            <form method="post" action="{{ path('annotate_biologiste_request') }}">
                <div class="form-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="text-align: center">Qualité</h3>
                        </div>
                        <div style="padding: 10px">
                            <select name="quality_choice" style="width: 100%" class="form-control">
                                <option disabled selected value> -- Choisir une valeur -- </option>
                            {% for choice in biologiste_reponse_choices() %}
                                    <option value="{{ choice.value }}"
                                            {% if response.reponse is defined %}
                                            {% if response.reponse == choice.value %} selected{% endif %}
                                            {% endif %}
                                    >{{ choice.label }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    {#<h4>Confiance</h4>#}
                    {#<select name="confiance" class="form-control">#}
                        {#<option value="100">Très confiant</option>#}
                        {#<option value="50">Confiant</option>#}
                        {#<option value="0">Peu confiant</option>#}
                    {#</select>#}
                </div>
                {% if not currentImage.validated %}
                    <div class="form-group">
                        <input type="hidden" name="request_id" value="{{ currentImage.id }}">
                        <button type="submit" class="btn btn-default" style="background-color: #1a981c; color: white" >Valider mes annotations</button>
                    </div>
                {% endif %}
            </form>
        </td>
    </tr>
</table>
